<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add category</h1>
    <form action="/category" method="post">
        <input type="text" name="category_name" placeholder="category">
        <input type="text" name = "status" placeholder="status">
        <button>Add category</button>
    </form>
    
</body>
</html>